*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java/log4j/EjemploLOG4j/nbproject/private/
/java/log4j/EjemploLOG4j/build/
/java/log4j/EjemploLOG4j/dist/
/java/log4j/EjemploLog4jMaven/target/
/java/log4j/EjemploLOG4j2/target/
/java/log4j/WebApplication1/nbproject/private/
/java/log4j/WebApplication1/build/
/java/log4j/EjemploLog4j3/nbproject/private/
/java/log4j/EjemploLog4j3/build/
/javaweb/Proyecto/build/
/javaweb/Proyecto/nbproject/private/
/javaweb/Proyecto/dist/
/java/log4j/EjemploLOG4jJPA/nbproject/private/
/java/log4j/EjemploLOG4jJPA/build/
/java/log4j/EjemploLOG4jJPA/dist/
/java/log4j/EjemploJSON/nbproject/private/
/java/log4j/EjemploJSON/build/
/java/servlets/Ejemplo1/nbproject/private/
/java/servlets/Ejemplo1/build/
/java/servlets/Ejemplo1/dist/
/javaweb/ProyectosAnt/nbproject/private/
/javaweb/ProyectoMaven/target/
/javaweb/ProyectosAnt/dist/
/javaweb/ProyectosAnt/build/
/javaweb/ProyectoGradle/.nb-gradle/
/java/servlets/Ejemplo2/nbproject/private/
/java/servlets/Ejemplo2/build/
/java/servlets/Ejemplo3/nbproject/private/
/java/servlets/Ejemplo3/build/
/java/consola/JavaApplication5/nbproject/private/
/java/consola/JavaApplication5/build/
/java/consola/Ejemplo4/nbproject/private/
/java/consola/Ejemplo4/build/
/java/servlets/Ejemplo5/nbproject/private/
/java/servlets/Ejemplo5/build/
/java/servlets/Ejemplo6/nbproject/private/
/java/servlets/Ejemplo6/build/
/java/servlets/EjemploREST/nbproject/private/
/java/servlets/EjemploREST/build/
/java/servlets/EjemploREST/dist/
/java/servlets/Ejemplo7/nbproject/private/
/java/servlets/Ejemplo7/build/
/java/servlets/Filtros/Ejemplo6/build/
/java/servlets/Filtros/Ejemplo6/nbproject/private/
/java/servlets/Filtros/EjemploFiltro/build/
/java/servlets/Filtros/EjemploFiltro/nbproject/private/
/java/servlets/Ejemplo8/nbproject/private/
/java/servlets/Ejemplo8/build/